@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Fraunces:ital,wght@1,700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Lexend+Deca&family=Manrope:wght@800&family=Montserrat:wght@500;700&family=Outfit:wght@300;600;700&family=Overpass:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:ital,wght@0,700;1,400;1,800&family=Roboto:wght@400;700&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space mono';
}

:root{
    --Strong-cyan: hsl(172, 67%, 45%);

    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

    --Font-size: 24px;

}
body{
    min-height: 100vh;
    width: 100%;
    font-size: 15px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-grayish-cyan);
    gap: 4rem;
}
/*------------- Title -------------*/

h2{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--Very-dark-cyan);
    font-size: var(--fontSize);
    
}

h2 span{
    display: block;
}


/*--------------- main ---------------*/

main{
    background-color: var(--White);
    border-radius: 20px;
    max-width: 1000px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

main #main-left p,
label{
    color: gray;
    font-size: 15px;
}

main #main-left,
main #main-right{
    display: flex;
    flex-direction: column;
}

main #main-left{
    gap: 2rem;
}


main #main-left input{
    margin-top: 0.3rem;
    text-align: end;
    border: transparent;
    background: var(--Very-light-grayish-cyan);
    padding: 0.5rem 0.4rem;
    cursor: pointer;
}

@media all and (min-width: 401px){
    main #main-left input:focus{
        outline: none;
    }
}

main #main-left input:focus{
    border: 1px solid var(--Strong-cyan);
}


input[type=number] {
   /* -moz-appearance:textfield;*/
    appearance: textfield;
}

/*------------- main left top ----------------*/

#bill,
#number-people
{
    display: flex;
    position: relative;
}
#bill input,
#number-people input{
    flex :1;
    color:  var(--Very-dark-cyan);
}

#bill img,
#number-people img{
    width: 15px;
    aspect-ratio: 1/1.2;
    position: absolute;
    top: 15px;
    left: 1rem;
}

/*-------------- main left middle -------------*/

main #main-left-middle .percentage-choice{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

main #main-left-middle p{
    margin-bottom: 0.8rem;
}

.button{
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}


.button:hover{
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.button:active{
    background-color: var(--Strong-cyanCyan);
    color: var(--Very-dark-cyan);
}


main #main-left-middle input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
/*-------------- main left bottom -------------*/

main #main-left #main-left-bottom p{
    font-size: 13px;
}

main #main-left #main-left-bottom #people-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-------------- main right ------------------*/

main #main-right{
    padding: 2rem;
    background-color: var(--Very-dark-cyan);
    border-radius: 10px;
}

main #main-right-top,
main #main-right-middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tip-person{
    font-size: 13px;
    color: var(--White);
}
.person{
    color: var(--White);
    font-size: 10px;
    opacity: 0.7;
}

.tip-total{
    display: flex;
    align-items: center;
    position: relative;
    font-size : 30px;
    color:  var(--Strong-cyan);
}

#main-right #button-reset{
    cursor: pointer;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
}


.has-reset-activated{
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

/*----------- Responsive ------------*/



@media all and (max-width:800px){
    main{
        display: flex;
        flex-direction: column;
    }
}


@media all and (max-width:400px){
    #main-left,
    #main-right{
        width: 100%;
    }

    main #main-left-middle .percentage-choice{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    
    main #main-left-middle input,
    .button{
        width: 45%;
        padding: 10px;
    }
}

@media all and (max-width:300px){
    main #main-left-middle input,
    .button{
        width: 100%;
    }
}